<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input [(ngModel)]="newCar">
  <button (click)="onAddCar(newCar)">Auto hinzufügen</button>

  <ul>

    <li  *ngFor="let carItem of cars; let i = index"
         [class.selected]="carItem === selectedCar"
         (click)="showCarDetails(carItem)">
          {{i+1}}
          {{carItem.brand}}
      <button (click)="onDeleteCar(i)">Auto löschen</button>
    </li>
  </ul>


  <car-detail [cars]="selectedCar"></car-detail>

</div>

