body{margin:0;font-family: sans-serif;}

header{margin-bottom:10px;padding:10px;background-color:#6699cc;color:white;}
main{padding:0px 10px;}

h1{margin:0;font-size:15px;font-weight:normal;}
h2{margin:0;font-size:13px;font-weight:normal;}

label {display:block;float: left; width: 100px}
input {float: left;}
button{margin-left:100px}

.formularFeld{display: table-row}
.radioFeld{height:30px;}

.beschriftungRadioButton{font-size:0.8em;width: 50px; margin-right: 10px;}

.headlineAusgabe{font-size:1.3em;margin:0px;}

#input {margin-bottom:10px;padding-bottom: 10px; border-bottom: 1px dashed #ccc;}
#radioButtonPosition{margin-bottom:10px;};
#anzeigenKontostand{padding-left:5px;}
#anzeigenAusgaben{padding-left:5px;}
#anzeigenAusgabenGesamt{width:290px;padding:5px;background-color:red;color:white;}
#anzeigenEinnahmen{padding-left:5px;}
#anzeigenEinnahmenGesamt{width:290px;padding:5px;background-color:green;color:white;}
#anzeigenErgebnis{padding-left:5px;}

#kontostand{}
#einnahmen{}
#ausgaben{}

.headlineBck{background-color:#6699cc;margin-top: 20px;padding: 3px 5px; color: white;}
.subHeadlineBck{width:300px;margin-bottom:0px;padding-left: 5px; padding-bottom:5px;/*border-bottom: 1px solid #000;*/}
.bottomDistance{margin-bottom:10px;}

.displaySection{margin-bottom:15px;padding-bottom: 5px;border-bottom: 1px dashed #ccc;}
/*
.displaySection:first-child{margin-top:15px;padding-top: 15px;border-top: 1px dashed #ccc;}
*/
.noneDisplayed{display:none;}
.hiddenArea{opacity: 0.0;height: 0px;}
.visibleArea{opacity: 1.0; height:auto; -webkit-transition: opacity 2s; -moz-transition: opacity 2s; -o-transition: opacity 2s ease; transition: opacity 2s ease;}
.heightArea{height:auto;}

.positionContainer{margin:10px 0px;padding-bottom:5px; border-bottom:1px dashed #ccc;}
.delete_Link{float:right;}

.iconContainer{float:right;margin:0px;padding:0px;width: 40px;}
.leftSideIcon{float:left;margin:0px;padding:0px;}
.rightSideIcon{float:right;margin:0px;padding:0px;}

li { padding:0px;list-style: none }