<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/app.css">
    </head>
    <body>
        Gästebuch <strong><%= title %></strong>
        <script src="../js/index.js"></script>
    </body>
</html>