<!DOCTYPE html>
<html ng-app="directiveApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>directiveApp</title>
</head>
<body>
<div ng-controller="directiveController">

    <div ng-repeat="contact in contacts">
        <panel-directive panel-title="Name: {{contact.forename + ' ' + contact.surname}}">
            <p>{{contact.phone + ' ' + contact.email}}</p>
        </panel-directive>
    </div>
    <input ng-model="search">
    <p ng-show="search">{{search}}</p>
    <div ng-repeat="contact in contacts | filter:search">
        <table-directive table-id="{{contact.id}}" table-forename="{{contact.forename}}" table-surname="{{contact.surname}}" table-phone="{{contact.phone}}" table-email="{{contact.email}}"></table-directive>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="app.js"></script>
</html>