<html ng-app="tutorialApp">
    <head>
        <meta charset="utf-8" />
        <title>Hallo AngularJS</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <div class="container">
	        <br />
            <div ng-controller="TutorialController">


	            <div ng-show="!showCities">
		            <button class="btn btn-primary" ng-click="showCities = true">
		            	Städte anzeigen
		            </button>
	            </div>

	            <div class="panel panel-default" ng-if="showCities">

		            <div class="panel-heading">
			            <h3 class="panel-title">Städte</h3>
		            </div>

		            <div class="panel-body">
			            <ul>
			                <li ng-repeat="city in cities">{{ city.title }}</li>
		                </ul>
		            </div>
	            </div>

            </div>
        </div>
    </body>
</html>