<p>
  car-pool works!
</p>
<div>
<button *ngIf="!showCars" (click)="showCarPool()">show cars</button>
<button *ngIf="showCars" (click)="hideCarPool()">hide cars</button>
</div>
<div class="cardContainer"  *ngFor="let car of cars, let i = index"
     (click)="showDetails(car)"
     [class.selected]="car === selectedCar"
     (mouseover)="showDetailViewIcon($event, car.id)"
     (mouseleave)="hideDetailViewIcon()"
      >
  <ul *ngIf="showCars">
    <li>

      <div class="itemCard">
        <div class="imgWrapper">
          <div class="detalView" *ngIf="detailViewIcon">
            <img src="assets/img/detailView.png">
          </div>
          <div class="carImg"><img src="assets/img/{{car.id}}.jpg"></div>
        </div>
        <div class="carBrand>"><p>{{car.brand}}</p></div>
      </div>
    </li>
  </ul>
</div>

<app-car-detail [car]="selectedCar"></app-car-detail>

<app-car-detail (carUpdated)="showUpdatedCar($event)"></app-car-detail>

<p>updateValue: {{updateValue}}</p>

<!-- Boolean "showCars" annehmen und als "showCarsTransferedBoolean" in car-detail zur verfuegung stellen-->
<app-car-detail [showCarsTransferedBoolean]="showCars"></app-car-detail>

<app-car-garage [showCarsTransferedBoolean]="showCars"></app-car-garage>


