<p>
  car-pool works!
</p>

<button *ngIf="!showCars" (click)="showCarPool()">show cars</button>
<button *ngIf="showCars" (click)="hideCarPool()">hide cars</button>
<div>
  <ul *ngIf="showCars">
    <li *ngFor="let car of cars, let i = index" (click)="showDetails(car)" [class.selected]="car === selectedCar">
      {{i}}
      {{car.brand}}
    </li>
  </ul>
</div>

<app-car-detail [car]="selectedCar"></app-car-detail>

<app-car-detail (carUpdated)="showUpdatedCar($event)"></app-car-detail>

<p>updateValue: {{updateValue}}</p>
